html, body {
  height: 100%;
  max-height: 100% !important;
  width: 100%;
  background: inherit;
}
body {
  overflow-y: hidden;
  background: inherit !important;
}
body, body.pushable, #sidebar {
  padding-top: 40px !important;
}
.ui.loading.form::before {
  background: rgba(255,255,255,0);
}
.ui.loading.form::after {
  border-color: #d24d4d rgba(0,181,0,.1) rgba(0,181,173,1);
}

#topNav {
  padding: 0;
  /*-webkit-app-region: drag;*/
  /*height: 7%;*/
}

#topNav .item.brand::before {
  background: inherit;
}

.draggable {
  -webkit-app-region: drag;
}

.undraggable * {
  -webkit-app-region: no-drag;
}

#notifications-container {
  display: none;
  z-index: 1000;
  position: absolute;
  width: 100%;
  top: 55px;
}
#notifications-container #caption {
  text-align: center;
  padding: 15px;
  font-size: 18px;
  width: 320px;
  margin: 0 auto;
  color: white;
  background: rgba(27, 28, 29, 0.62);
}

.pusher {
  background: #000 !important;
  /* nav height is 7% */
  /*height: 93%;*/
  height: 100%;
}
