<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="video player">
  <title></title>

  <link rel="stylesheet" href="../../node_modules/semantic-ui-css/semantic.min.css" media="screen">
  <link rel="stylesheet" href="../assets/styles/main.css" media="screen">
  <link rel="stylesheet" href="../assets/styles/video.css" media="screen">
</head>
<body>


  <nav class="ui inverted fixed small menu navbar page grid draggable" id="topNav">
    <div class="item brand" style="padding: 2px 5px;">
      <img src="../../icon.ico" alt="VP" />
    </div>

    <div class="left menu undraggable" style="padding: 0;">
      <a class="ui dropdown item">
        <i class="setting icon"></i>
        <div class="menu">

          <div style="min-width: 160px;" class="item" onclick="openVideos()">Open Video
            <span class="right floated">
              <i class="file video outline icon"></i>
            </span>
          </div>
          <div class="item" id="openDirVideos">Open Directory
            <span class="right floated">
              <i class="folder open outline icon"></i>
            </span>
          </div>
          <div class="hidden content item inDevelopment" rel="settings">Settings
            <span class="right floated">
              <i class="configure icon"></i>
            </span>
          </div>
          <div class="item" id="about">About
            <span class="right floated">
              <i class="info icon"></i>
            </span>
          </div>
          <div class="item inDevelopment" rel="help">Help
            <span class="right floated">
              <i class="help icon"></i>
            </span>
          </div>
          <div class="item" onclick="wind.close()">Exit
            <span class="right floated">
              <i class="sign out icon"></i>
            </span>
            <!-- <span style="padding: 7px;"><i class="sign out icon" style="margin-right: -12px;"></i></span> -->
          </div>

        </div>
      </a>
    </div>

    <div class="ui inverted secondary pointing menu">
      <a id="media-name" class="center item brand" style="-webkit-app-region: drag; max-width: 300px; word-break: break-word;"></a>
    </div>

    <div class="right menu undraggable" style="padding-right: 0;">
      <a class="item" onclick="wind.onTopToggle(this)"> <i class="empty heart icon"></i> </a>

      <a class="item" onclick="wind.minimize()"> <i class="minus icon"></i> </a>
      <a class="item" onclick="wind.toggle()"> <i class="square outline icon"></i> </a>
      <a class="item" onclick="wind.close()"> <i class="remove icon"></i> </a>
    </div>
  </nav>

  <div id="volume-container">
    <div id="volume-progress"> </div>
  </div>

  <div id="notifications-container">
    <div id="caption"> </div>
  </div>

  <aside class="ui right vertical inverted sidebar menu" id="sidebar"> </aside>

  <!-- page content -->
  <div class="pusher">
    <div class="ui container fluid" style="height: 100%;" id="video-container">

      <div id="top"> </div>

      <video id="player"></video>

      <div id="bottom">
        <div class="ui centered grid">
          <div class="row">
            <div id="bottom-caption" class="ui inverted secondary pointing menu navbar grid">

              <a class="item" id="video-play-pause"> <i class="play icon" id="vpp"></i> </a>
              <a class="item" onclick="new Video().stop()"> <i class="stop icon"></i> </a>

              <a class="item" onclick="videoForwardPrevious()" style="margin-right: -25px;">
                <i class="backward icon"></i>
              </a>

              <div class="ui centered item">
                <div id="progress-container">
                  <div id="progress-bar"> </div>
                </div>
              </div>

              <a class="item" onclick="videoForwardPrevious(1)" style="margin-left: -19px;">
                <i class="forward icon"></i>
              </a>

              <div class="ui centered item">
                <time><span id="currentTime">0:00:00</span> / <span id="duration">0:00:00</span></time>
              </div>

              <div class="right menu" style="padding-right: 0;">
                <a class="item" onclick="wind.toggleScreen()"> <i class="expand icon" style=""></i> </a>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="ui modal" id="errorModal">
    <i class="close icon"></i>
    <div class="header">
      Error
    </div>
    <div class="image content">
      <div class="description">
        <p></p>
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Close
      </div>
    </div>
  </div>


  <script src="../../node_modules/jquery/dist/jquery.min.js" onload="window.$ = window.jQuery = module.exports;" charset="utf-8"></script>
  <script src="../../node_modules/semantic-ui-css/semantic.min.js" charset="utf-8"></script>
  <script src="../assets/scripts/main.js" charset="utf-8"></script>
  <script src="../assets/scripts/remote.js" charset="utf-8"></script>
  <script src="../assets/scripts/keys.js" charset="utf-8"></script>
  <script src="../assets/scripts/events.js" charset="utf-8"></script>
</body>
</html>
